#root {
    /* max-width: 1280px; */
    margin: 0;
    padding: 0;
    /* padding: 2rem; */
    text-align: center;
    background-color: grey;
}

.portrait {
    /* float:right; */
    width: 30em;
    /* overflow: hidden; */
    margin: 0.5em;
}

.link {
    box-shadow: inset 0 0 0 0 black;
    margin: 0 -0.25rem;
    padding: 0 0.25rem;
    transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    border-radius: 20%;
}
.link:hover {
    box-shadow: inset 100px 0 0 0 black;
    color: white;
    transform: scale(1.5);
}

.zoom:hover {
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
